@import "bootstrap/dist/css/bootstrap.min.css";

.form-check-input[type="checkbox"] {
  border-radius: 50px;  
}

.form-check-input:checked {
  background-image: none;  /* Standard-Haken entfernen */
    border-color: var(--bs-light);
}

.form-check-input:disabled {
    background-color: var(--bs-secondary-bg);
}

.form-check-input:checked::after {
  content: "C";
  border-radius: 50px;
  color: var(--bs-primary);
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  background-color: var(--bs-light);
  border-color: var(--bs-light);
}
